.App {
  text-align: center;
}
.block-Li {
  margin: 10px auto;
  width: 500px;
}
.elem-li {
  display: flex;
  justify-content: space-between;
  list-style: none;
  background: rgb(32, 168, 178);
  color: white;
  font-weight: 600;
  margin-bottom: 5px;
  border: 1px solid grey;
  border-radius: 10px;
}
.titleLi {
  padding: 5px 10px;
}
.span-X {
  color: rgba(207, 0, 0, 0.877);
  background: white;
  border-radius: 10px;
}
.li-click {
  background: rgba(207, 0, 0, 0.5);
}
.li-hover {
  background: rgba(32, 168, 178, 0.7);
}
.navbar {
  background: rgb(255, 123, 0);
  color: rgb(56, 56, 56);
  display: flex;
  justify-content: space-between;
  padding: 0 2%;
  margin-bottom: 10px;
}
.urlAdress {
  font-size: 19px;
  display: flex;
  align-items: center;
  font-weight: 600;
}
.clickAdress {
  list-style: none;
  cursor: pointer;
  padding: 8px 20px;
}
.clickAdress:hover {
  background: rgba(255, 255, 255, 0.521);
  border-radius: 7px;
}
a {
  color: rgb(56, 56, 56);
  text-decoration: none;
}
