#root,
.App {
  height: 100%;
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.navbar-a {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  width: 600px;
}
.about-project h3 {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
}
.about-project ul {
  margin-left: 45px;
  margin-bottom: 10px;
}

@media all and (max-width: 630px) {
  /* MONTHS */
  section {
    align-items: center;
  }
  #container-calendar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
  }
  .quarters {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid grey;
  }
  .general-month {
    width: 80%;
  }
  #container-calendar h1 {
    font-size: 2em;
  }
  .general-month {
    margin-bottom: 1em;
  }
  .month-nope .regular-month {
    font-size: 2em;
  }
  .regular-month {
    font-size: 1.5em;
  }
  .dayOfYear,
  .container-bigMonth ul li {
    font-size: 1.4em;
  }
  .dayWithoutAuth,
  .dayWithAuth a {
    font-size: 1.6em;
  }

  /* HEADER && FOOTER */
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  header ul li {
    margin-top: 5px;
  }
  header ul li,
  footer ul li {
    font-size: 1.1em;
  }

  /* TASK-LIST */
  #container-task-list {
    width: 90%;
  }
  #container-task-list h3 {
    font-size: 1.3em;
  }
}
