.quarters {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}
.general-month {
  display: block;
  height: auto;
}
.general-month a {
  color: black;
  text-decoration: none;
}
.big-month {
  padding-top: 145px;
  width: 490px;
}
.big-month h3 {
  font-size: 30px;
  text-align: center;
}
.container-oneMonth {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  cursor: pointer;
}
.month-nope {
  cursor: default;
}
.big-month table {
  text-align: center;
  height: 100%;
}

.container-bigMonth ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-weight: 600;
  margin-top: 30px;
  font-size: 20px;
}
.container-bigMonth ul li {
  width: 100%;
  font-size: 23px;
  text-align: center;
}
.regular-month {
  font-weight: 600;
  font-size: 20px;
}
.current-month {
  color: red;
}
#container-calendar {
  padding-top: 10px;
  width: 600px;
}
#container-calendar h1 {
  color: red;
  font-size: 23px;
  font-weight: 600;
  border-bottom: 1px solid rgb(173, 173, 173);
}
#calendar-auth {
  text-align: center;
  font-weight: 600;
  font-size: 17px;
  color: #1564b4;
  margin: 10px 0;
}
