.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#main-section {
  width: 1050px;
}
header {
  background: rgb(255, 123, 0);
  color: rgb(56, 56, 56);
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 10px 2%;
}
header h2 {
  font-size: 23px;
  font-weight: 600;
}
header ul {
  font-size: 19px;
  display: flex;
  align-items: center;
  font-weight: 600;
}
header ul li {
  list-style: none;
  cursor: pointer;
  padding: 8px 0;
}
header ul li:hover {
  background: rgba(255, 255, 255, 0.521);
  border-radius: 7px;
}
header ul li a {
  color: rgb(56, 56, 56);
  text-decoration: none;
  padding: 8px 20px;
}

/* Стили окна приложения чата */
#main-window-chat {
  background: rgba(255, 123, 0, 0.7);
  border: 1px solid black;
}
#block-rooms-chat {
  height: 700px;
  display: flex;
}
#block-chat {
  display: flex;
  flex-direction: column;
  width: 775px;
  background: rgba(255, 255, 255, 0.83);
}
#block-chat form {
  height: 40px;
  width: 100%;
  display: flex;
}
#chat-window {
  padding: 5px 10px;
  height: 100%;
  overflow-x: hidden;
}
#chat-info {
  display: flex;
  font-size: 18px;
}
#chat-info div {
  border-right: 1px solid rgb(54, 54, 54);
  /* padding: 5px 0; */
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#chat-info h3 {
  padding: 20px 0;
  width: 775px;
  display: flex;
  justify-content: center;
  font-weight: 600;
}

#block-rooms {
  border-right: 1px solid rgb(54, 54, 54);
  width: 100%;
}

.roomsLi {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 302px;
  list-style: none;
  padding: 5px 0;
  font-size: 18px;
  font-weight: 600;
}
.clickRoomLi {
  background: rgba(255, 255, 255, 0.83);
}
.hoverRoom {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.3);
}

.room-li {
  margin: 0 20px;
}
.delete-room {
  cursor: pointer;
  border: none;
  background: rgb(255, 108, 108);
  color: rgb(36, 36, 36);
  width: 35px;
  font-size: 17px;
  /* height: 30px; */
  /* border-radius: 10px; */
}
