footer {
  border-top: 2px solid black;
  width: 96%;
  background: rgb(255, 123, 0);
  color: rgb(56, 56, 56);
  padding: 10px 2%;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}
footer ul li {
  list-style: none;
}
