header {
  background: rgb(255, 123, 0);
  color: rgb(56, 56, 56);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 96%;
  padding: 10px 2%;
}
header h2 {
  font-size: 23px;
  font-weight: 600;
}
header ul {
  font-weight: 600;
  font-size: 19px;
  display: flex;
  flex-direction: row;
}
header ul li {
  list-style: none;
  cursor: pointer;
  padding: 8px 0;
}
header ul li:hover {
  background: rgba(255, 255, 255, 0.521);
  border-radius: 7px;
}
header ul li a,
#mob-listRooms {
  color: rgb(56, 56, 56);
  text-decoration: none;
  padding: 8px 20px;
}

#header-menu {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 1.5em;
  cursor: pointer;
}
