#block-rooms {
  border-right: 1px solid rgb(54, 54, 54);
}

.roomsLi {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  padding: 5px 0;
  font-size: 18px;
  font-weight: 600;
}

.roomHover {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.3);
}
/* .roomsLi:hover {
} */

.clickRoomLi {
  background: rgba(255, 255, 255, 0.83);
}

.room-li {
  margin: 0 20px;
}
.delete-room {
  cursor: pointer;
  border: none;
  background: rgb(255, 108, 108);
  color: rgb(36, 36, 36);
  width: 35px;
  font-size: 17px;
  z-index: 1;
}
