.div-message {
  font-size: 17px;
  background: rgba(255, 0, 0, 0.13);
  border: 1px solid lightblue;
  border-radius: 8px;
  padding: 5px 15px;
  margin-bottom: 5px;
  width: auto;
  display: inline-block;
  max-width: 600px;
}
.div-message p {
  word-wrap: break-word;
}
.div-message span {
  display: block;
  color: rgb(68, 68, 68);
  font-size: 14px;
  width: auto;
  text-align: end;
}
.div-messageDate {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}
.div-messageDate h3 {
  font-size: 17px;
  font-weight: 700;
  color: white;
  background: rgba(0, 0, 0, 0.63);
  padding: 5px 13px;
  border-radius: 13px;
}
