.App {
  text-align: center;
}

.city-lighting:hover {
  background: rgba(255, 99, 71, 0.144);
}
.selected-city {
  font-weight: 500;
  background: rgba(255, 99, 71, 0.5);
}
.MuiList-root li {
  display: flex;
  justify-content: center;
}
.cardCities {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  background: rgba(21, 103, 255, 0.466);
  font-weight: 600;
  border-radius: 8px;
}
.cardCities div,
.cardCities p {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.cardCities button {
  background: rgba(255, 255, 255, 0.7);
  border-radius: 8px;
  border: 0px;
  margin: 10px 0;
  font-weight: 600;
}
